<div class="h-100">
  <div class="row mx-0 h-100 d-flex align-items-center">
    <div class="col-6">
      <form class="m-3 text-center">
        <div class="col-6 mx-auto">
          <h1 class="mb-0">Sign In</h1>
        </div>
        <div class="col-6 mx-auto">
          <p class="text-secondary">Your Social Campaigns</p>
        </div>
        <div class="col-6 m-3 mx-auto justify-content-center">
          <input type="email" class="form-control" id="inputEmail3" placeholder="Email" required>
        </div>
        <div class="col-6 m-3 mx-auto justify-content-center">
          <input type="password" class="form-control" id="inputPassword3" placeholder="Password" required>
        </div>
        <div class="container col-6 mx-auto p-0">
          <a href="#" class="text-primary">Forgot Password?</a>
        </div>
        <div class="container col-6 d-grid p-3">
          <button type="submit" class="btn btn-primary" (click)="goToUserList()">Sign in</button>
        </div>
        <div class="container col-6 mx-auto m-3 p-0">
          <p class="text-secondary">Not a Member? <a href="#" class="text-primary">Sign Up</a></p>
        </div>
      </form>
    </div>
    <div class="col-6 bg-primary vh-100">
      <div class="position-relative vh-100">
        <img src="/assets/auth-screens.png" height="200px" width="200px" class="position-absolute top-50 start-50 translate-middle">
      </div>
    </div>
  </div>
</div>