<div class="container bg-primary p-0 h-100">
  <h1 mat-dialog-title class="text-white p-3 mb-0">Selected User Details</h1>
  <div mat-dialog-content>
    <ul class="m-0 py-3 px-5 d-flex flex-column justify-content-between">
      <li><label for="userid" class="text-white">ID :</label>
        <input id="userid" readonly class="text-end d-flex flex-row-reverse">
      </li>
      <li>
        <label for="username" class="text-white">Name :</label>
        <input id="username" readonly class="text-end d-flex flex-row-reverse">
      </li>
      <li>
        <label for="useremail" class="text-white">Email:</label>
        <input id="useremail" readonly class="text-end d-flex flex-row-reverse">
      </li>
      <li>
        <label for="usergender" class="text-white">Gender :</label>
        <input id="usergender" readonly class="text-end d-flex flex-row-reverse">
      </li>
      <li>
        <label for="userstatus" class="text-white">Status: </label>
        <input id="userstatus" readonly class="text-end d-flex flex-row-reverse">
      </li>
    </ul>
  </div>
</div>