<h1 mat-dialog-title>Updated the detais of user Id: {{cOselectedId}}</h1>
<div mat-dialog-content class="border py-3 shadow">
    <form class="row g-3" #userPost="ngForm" (ngSubmit)="upDateUser(cOselectedId, userPost.value)">
        <div class="col-4 gx-3">
            <label for="inputFirstName" class="form-label">First Name</label>
            <input type="text" ngModel name="name" class="form-control" id="inputFirstName"
                placeholder="First name" (keyup)="showFirstNameInFullName($event)" required>
        </div>
        <div class="col-4">
            <label for="inputLastname" class="form-label">Last Name</label>
            <input type="text" name="lastname" class="form-control" id="inputLastName"
                placeholder="Last name" (keyup)="showLastNameInFullName($event)" required>
        </div>

        <div class="col-4 gx-3">
            <label for="inputFullName" class="form-label">Full Name</label>
            <input type="text" name="fullname" class="form-control" id="inputFullName" placeholder="Full name" required>
            <div class="mt-2 text-info">A block of help text that breaks onto a new line and may extend
                beyond one
                line.</div>
        </div>
        <div class="col-4">
            <label for="inputGender" class="form-label">Gender</label>
            <input type="text" ngModel name="gender" class="form-control" id="inputGender"
                placeholder="Gender" required>
        </div>

        <div class="col-4 gx-3">
            <label for="inputEmail" class="form-label">Email</label>
            <input type="email" ngModel name="email" class="form-control" id="inputEmail"
                placeholder="Email" required>
        </div>
        <div class="col-4">
            <label for="inputStatus" class="form-label">Status</label>
            <input type="text" ngModel name="status" class="form-control" id="inputStatus"
                placeholder="Status" required>
        </div>

        <div mat-dialog-actions class="row text-end">
            <button mat-button mat-dialog-close class="col-2">Close</button>
            <button class="col-2" type="submit" mat-button mat-dialog-close cdkFocusInitial>Update Parameter</button>
        </div>
    </form>
</div>
