<div class="p-0 h-100 m-0">
  <router-outlet></router-outlet>
</div>
<!-- <div class="containet d-flex align-items-end">
  <button mat-icon-button color="primary" aria-label="Example icon button with a home icon" (click)="goToLogin()">
    <mat-icon>login</mat-icon>
  </button>
  <button mat-icon-button color="primary" aria-label="Example icon button with a home icon"
    (click)="goToUserList()">
    <mat-icon>list</mat-icon>
  </button>
  <button mat-icon-button color="primary" aria-label="Example icon button with a home icon"
    (click)="goToUserListFull()">
    <mat-icon>view_list</mat-icon>
  </button>
  <button mat-icon-button color="primary" aria-label="Example icon button with a home icon" (click)="goToAddUser()">
    <mat-icon>add</mat-icon>
  </button>
</div> -->