<div class="h-100 px-0 m-0 row">
    <div class="row h-100">
        <div class="col-2 bg-secondary py-0">
            <mat-sidenav mode="side" opened>
                <mat-nav-list style="width:200px;" class="">
                    <a mat-list-item (click)="goToUserList()"><mat-icon class="position-absolute top-50 end-0 translate-middle-y">dashboard</mat-icon>User list</a>
                </mat-nav-list>
            </mat-sidenav>
        </div>
        <div class="col-10 p-3">
            <div class="container row m-0 p-0">
                <div class="col-10 my-3">
                    <h1 class="mb-0">User List</h1>
                </div>
                <div class="col-1 text-end p-0 px-2 my-3">
                    <button class="btn btn-primary p-2" (click)="logout()">Log out</button>
                </div>
                <div class="col-1 text-end p-0 my-3">
                    <button class="btn btn-primary p-2" (click)="goToAddUser()">Add User</button>
                </div>
            </div>
            <div class="mat-elevation-z8">
                <div class="p-3 text-end container">
                    <!-- <mat-form-field appearance="fill"> -->
                    <mat-label>Search : </mat-label>
                    <input matInput (keyup)="filterChange($event)">
                    <!-- </mat-form-field> -->
                </div>
                <div class="container pb-3">
                    <table mat-table matSort [dataSource]="dataSource"
                        class="table-hover table table-striped table-light">

                        <!-- ID Column -->
                        <ng-container matColumnDef="id">
                            <th class="bg-secondary" mat-header-cell mat-sort-header="" *matHeaderCellDef> ID
                            </th>
                            <td class="text-dark" mat-cell *matCellDef="let element"> {{element.id}} </td>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="name">
                            <th class="bg-secondary" mat-header-cell mat-sort-header="" *matHeaderCellDef> Name
                            </th>
                            <td class="text-dark" mat-cell *matCellDef="let element"> {{element.name}} </td>
                        </ng-container>

                        <!-- Email Column -->
                        <ng-container matColumnDef="email">
                            <th class="bg-secondary" mat-header-cell mat-sort-header="" *matHeaderCellDef>
                                Email </th>
                            <td class="text-dark" mat-cell *matCellDef="let element"> {{element.email}} </td>
                        </ng-container>

                        <!-- Gender Column -->
                        <ng-container matColumnDef="gender">
                            <th class="bg-secondary" mat-header-cell mat-sort-header="" *matHeaderCellDef>
                                Gender </th>
                            <td class="text-dark" mat-cell *matCellDef="let element"> {{element.gender}} </td>
                        </ng-container>

                        <!-- Status Column -->
                        <ng-container matColumnDef="status">
                            <th class="bg-secondary" mat-header-cell mat-sort-header="" *matHeaderCellDef>
                                Status </th>
                            <td class="text-dark" mat-cell *matCellDef="let element"> {{element.status}} </td>
                        </ng-container>

                        <!-- Action Column -->
                        <ng-container matColumnDef="option">
                            <th class="bg-secondary" mat-header-cell *matHeaderCellDef>
                                Actions </th>
                            <td class="text-dark" mat-cell *matCellDef="let element">
                                <button mat-icon-button color="primary" (click)="openUserData(element.id)"
                                    aria-label="Example icon button with a home icon">
                                    <mat-icon>remove_red_eye</mat-icon>
                                </button>
                                <button mat-icon-button color="primary" (click)="editUser(element.id)"
                                    aria-label="Example icon button with a menu icon">
                                    <mat-icon>edit</mat-icon>
                                </button>
                                <button mat-icon-button color="primary" (click)="deleteUser(element.id)"
                                    aria-label="Example icon button with a heart icon">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>

                    <mat-paginator [length]="100" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]"
                        aria-label="Select page" class="bg-secondary"></mat-paginator>
                </div>
            </div>
        </div>
    </div>
</div>